body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: Avenir, Roboto, 'Helvectia Neue', Helvetica, sans-serif;
}

body {
  font-size: 1.8em;
}

.landing-page .header {
  height: 105vh;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}



h1, .h1, .title, h2, .h2, .title {
  font-size: 1.9em;
  font-weight: bold;
}

h3, .h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1px;
}

h4, .h4 {
  font-size: 1.1em;
  margin: 0 0 0 0;
  font-weight: bold;
}

.text-left h4 {
  color: goldenrod;
}

ul {
  margin: .05em 0 .2em -.5em;
}

div.navbar-collapse.collapse.in {
  background: #333;
  opacity: .85;
}

extra {
  color: #666;
  font-size: .92em;
  font-style: italic;
}

a, a:focus {
  color: #2352dd;
}
a:hover {
  color: #081d5b;
}


extra a {
  color: #8da4e8;
}

div.main.main-raised, div.wrapper {
  min-width: 660px;
}
div.section.text-left {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  padding-top: 2em;
}

.landing-page .navbar-transparent, .profile-page .navbar-transparent, .signup-page .navbar-transparent, .index-page .navbar-transparent {
  padding-top: 0;
}


.navbar .navbar-nav > li > a {
  font-size: 14px;
}

.col-md-offset-3 {
  margin-left: 20%;
}

.col-md-6 {
  width: 100%;
  max-width: 900px;
}

.table {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.navbar {
  background-color: #050505;
  padding-top: 2px;
  padding-bottom: 5px;
}

.navbar, .navbar.navbar-default {
  color: #fff;
}

.navbar-brand {
  font-size: 16px;
}

.profile-page .header {
  height: 0;
}

.wrapper > .header {
  min-height: 150px;
}


h1.ref {
  content: none;
  display: none;
}