<!-- Begin Profile Tabs -->
<div class="profile-tabs">
   <div class="nav-align-center">
      <ul class="nav nav-pills nav-pills-primary" role="tablist">
         <li class="active">
            <a href="#r" role="tab" data-toggle="tab">
            <i class="icon-rlogo"></i>
            R/RStudio
            </a>
         </li>
         <li>
            <a href="#github" role="tab" data-toggle="tab">
            <i class="fa fa-github"></i>
            GitHub
            </a>
         </li>
      </ul>
      <div class="tab-content gallery">
         <div class="tab-pane text-center active" id="r">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 R is the statistical programming language we will learn in this class. We will interface with R using Rstudio, a fully featured interactive development environment (IDE). For instructions on how to install R and Rstudio, <a href="/install-rstats">click here</a>.
               </div>
            </div>
         </div>
         <div class="tab-pane text-center active" id="github">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                  <a href="https://github.com/">GitHub</a> is a web-based version control repository and internet hosting service. We will not be using Github, but it's a useful site know about and a great place to search for all kinds of source code.
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Profile Tabs -->